@font-face {
  font-family: "Montez-Regular";
  src: url('/Proyecto-Tuvalu/fonts/Montez-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url('/Proyecto-Tuvalu/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-optical-sizing: auto;
  font-style: normal;
}


:root {
  --secundary-color: #FEB966;

  font-family: Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.945);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .3px;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;

  

}

html {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}




